<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Sivetur" %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/favicon.png">

    <%= stylesheet_link_tag "site" %>
  </head>

  <body class="<%= page_classes %>" data-color="theme-1">
    <%= partial "partials/leader" %>
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag 'jquery-2.1.4.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'jquery-ui.min' %>
    <%= javascript_include_tag 'idangerous.swiper.min' %>
    <%= javascript_include_tag 'jquery.viewportchecker.min' %>
    <%= javascript_include_tag 'isotope.pkgd.min' %>
    <%= javascript_include_tag 'jquery.mousewheel.min' %>
    <%= javascript_include_tag 'lunr.min' %>
    <%= javascript_include_tag "all" %>
  </body>
</html>
