---
layout: layout
---
<% content_for :js do %>
  <%= javascript_include_tag 'lunr.min' %>
  <%= javascript_include_tag 'search' %>
<% end %>
<div class="inner-banner background-block" style="background-image: url(/images/inner_banner_1.jpg);">
	<img class="center-image" src="/images/inner_banner_1.jpg" alt="" style="display: none;">
	<div class="vertical-align">
		<div class="container">
			<h2 class="color-white">Resultados de búsqueda</h2>
      <form action="/search.html" method="GET">
        <div class="input-style-1">
          <input name="query" placeholder="Escribe tu destino" required="" type="text" id="search-box">
        </div>
        <button class="c-button bg-dr-blue hv-transparent" type="submit">
          <img alt="" src="">
            <span>Buscar</span>
        </button>
      </form>
		</div>
	</div>
</div>
<div class="list-wrapper bg-grey-2">
	<div class="container">
		<div class="row text-center excursiones-imagen">
      <div class="grid-content clearfix">
        <ul id="search-results"></ul>
      </div>
    </div>
  </div>
</div>
<script>
  window.store = {
    <% dato.excursiones_programadas.each_with_index do |excursion, index| %>
      "/excursiones-programadas/<%= excursion.titulo.parameterize %>": {
        "title": "<%= excursion.titulo %>",
        "category": "Excursion",
        "url": "/excursiones-programadas/<%= excursion.titulo.parameterize %>.html",
        "image": '<%= image_tag excursion.imagen.file.width(370).height(277).fit('crop').to_url unless excursion.imagen.nil? %>',
        "pais": "<%= excursion.pais unless excursion.pais.nil?%>",
        "ciudad": "<%= excursion.ciudad unless excursion.ciudad.nil?%>"
      },
    <% end %>
    <% dato.circuitos.each_with_index do |circuito, index| %>
      "/circuitos/<%= circuito.titulo.parameterize %>": {
        "title": "<%= circuito.titulo %>",
        "category": "Circuito",
        "url": "/circuitos/<%= circuito.titulo.parameterize %>.html",
        "image": '<%= image_tag circuito.thumbnail.file.width(370).height(277).fit('crop').to_url unless circuito.thumbnail.nil? %>',
        "pais": "<%= circuito.pais unless circuito.pais.nil?%>",
        "ciudad": "<%= circuito.ciudad unless circuito.ciudad.nil?%>"
      },
    <% end %>
    <% dato.ofertas.each_with_index do |oferta, index| %>
      "/ofertas/<%= oferta.titulo.parameterize %>": {
        "title": "<%= oferta.titulo %>",
        "category": "Oferta",
        "url": "/ofertas/<%= oferta.titulo.parameterize %>.html",
        "image": '<%= image_tag oferta.imagen.file.width(370).height(277).fit('crop').to_url unless oferta.imagen.nil? %>',
        "pais": "<%= oferta.pais unless oferta.pais.nil?%>",
        "ciudad": "<%= oferta.ciudad unless oferta.ciudad.nil?%>"
      },
    <% end %>
    <% dato.paquetes.each_with_index do |paquete, index| %>
      "/paquetes/<%= paquete.destino.code %>/<%= paquete.titulo.parameterize %>.html": {
        "title": "<%= paquete.titulo %>",
        "category": "Paquete",
        "url": "/paquetes/<%= paquete.destino.code %>/<%= paquete.titulo.parameterize %>.html",
        "image": '<%= image_tag paquete.thumbnail.file.width(370).height(277).fit('crop').to_url unless paquete.thumbnail.nil? %>',
        "pais": "<%= paquete.pais unless paquete.pais.nil?%>",
        "ciudad": "<%= paquete.ciudad unless paquete.ciudad.nil?%>"
      }
      <% unless index == dato.paquetes.size - 1 %>,<% end %>
    <% end %>
  };
</script>
